# Data Types

In [ ]:
#assignment is giving a variable a value
x = 93 #integer
y = 6.7 #float/floating point decimal

print(x) #to get hints on a function, hover over the function

93

In [2]:
type(y)

float

In [ ]:
# dictionaries are key: value pairs
breakfast = {
    "yogurt": 20,
    "bacon": 120,
    "eggs": 150
}

In [4]:
print(breakfast["bacon"])

120

In [5]:
#booleans are true or false values
is_true = False
type(is_true)

bool

In [8]:
# sets have unordered values and unchangeable values (immutable)
breakfast_set = {"eggs","bacon","pancakes"}

#sets cannot have duplicates. so you cannot add something
# that already exists
breakfast_set.add("coffee")
print(breakfast_set)

{'eggs', 'bacon', 'pancakes', 'coffee'}

In [9]:
breakfast_set.add("coffee")
print(breakfast_set)

{'eggs', 'bacon', 'pancakes', 'coffee'}

In [11]:
# list values can be changed and they are ordered
# we count starting at 0. so the first item in a list
# is referened with a 0

months = ["January", "February", "March"]
months[2]

'March'

In [12]:
# tuples are ordered but unchangeable (immutable)
breakfast_tuple = ("coffee","cereal","yogurt")
breakfast_tuple[0]

'coffee'

In [14]:
print(len(breakfast_tuple))
#length is 3 because even though we start counting with 0
# there are 3 items in the list

3

In [ ]:
# slicing uses the function slice. 
# slice(star, end, [step])
# the end is exclusive (not inclusive)
letters_tuple = ["a","b","c","d","e"]

x = slice(2,3)
print(letters_tuple[x])

['a', 'b', 'c']

In [17]:
letters_tuple[1:3]

['b', 'c']

In [18]:
y = slice(0,5,2)
print(letters_tuple[y])

['a', 'c', 'e']