In [11]:
import pandas as pd

df_clothes = pd.DataFrame(data = [['blue','S',20,'shirt'],
                                    ['red','ALL',5,'sunglasses'],
                                    ['yellow','L',100,'watch']])
df_clothes.columns = ['color','size','price','type']
df_clothes

    color size  price        type
0    blue    S     20       shirt
1     red  ALL      5  sunglasses
2  yellow    L    100       watch

In [12]:
# can convert categorical values to numerical
# size is ordinal, so it can be easily encoded

size_map = {'ALL':0, 'S':1, 'M':2, 'L':3}
df_clothes['size'] = df_clothes['size'].map(size_map)
df_clothes

    color  size  price        type
0    blue     1     20       shirt
1     red     0      5  sunglasses
2  yellow     3    100       watch

In [7]:
%pip install scikit-learn

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: scikit-learn in /Users/lex/Library/Python/3.9/lib/python/site-packages (1.4.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/lex/Library/Python/3.9/lib/python/site-packages (from scikit-learn) (3.3.0)
Requirement already satisfied: scipy>=1.6.0 in /Users/lex/Library/Python/3.9/lib/python/site-packages (from scikit-learn) (1.12.0)
Requirement already satisfied: joblib>=1.2.0 in /Users/lex/Library/Python/3.9/lib/python/site-packages (from scikit-learn) (1.3.2)
Requirement already satisfied: numpy<2.0,>=1.19.5 in /Users/lex/Library/Python/3.9/lib/python/site-packages (from scikit-learn) (1.26.3)
WARNING: You are using pip version 21.2.4; however, version 26.0 is available.
You should consider upgrading via the '/Applications/Xcode.app/Contents/Developer/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [13]:
# very good for nominal values
# where we want a number so it processes faster
# but the number doesnt mean anything
from sklearn.preprocessing import LabelEncoder

class_labels = LabelEncoder()

df_clothes['types'] = class_labels.fit_transform(df_clothes['type'].values)
df_clothes

    color  size  price        type  types
0    blue     1     20       shirt      0
1     red     0      5  sunglasses      1
2  yellow     3    100       watch      2

In [14]:
# one hot encoding 
# this doesnt work if you have data that is already numerical
df_clothes = pd.get_dummies(df_clothes[['color', 'size','price']])
df_clothes

   size  price  color_blue  color_red  color_yellow
0     1     20        True      False         False
1     0      5       False       True         False
2     3    100       False      False          True